$black-color: #212227;
$pink-color: #D99092;
$pink-color-light:#F8F3F4;
$pink_text-color: #F16D7F;
$white-color: #FFF;
$grey-color: #9F9F9F;
$grey-color-line:#E2E2E2;
$grey_bg-color: #F8F8F8;
$grey_color-cart:#F5F3F3;
$grey-text-color: #636363;
$grey-background: #f3f3f3;